html,
body {
  width: 100%;
  margin: auto;
  color: black;
  font-family: Oswald, sans-serif;
  cursor: pointer;
}

#stopwatch {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center; /* center horizontally */
  flex-direction: row;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  margin-top: 40px;
}

#scoreCount {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center; /* center horizontally */
  flex-direction: row;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  margin-top: -40px;
}

#score {
  margin-left: 10px;
  border: 2px solid green;
  padding: 2px 12px 4px 12px;
  border-radius: 10px;
}

#timer {
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: -2px;
  border: 2px solid red;
  padding: 2px 12px 4px 12px;
  border-radius: 10px;
}

#start-stop {
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: -30px;
  margin-bottom: 10px;
  text-align: center;
}

.textFields {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#text-field {
  width: 346px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2px;
  color: black;
  margin-top: 0px;
}

.wrapped {
  background-color: rgb(94, 199, 94);
}

.fa-remove {
  border: 2px solid black;
  color: white;
  background: black;
  border-radius: 10px;
  padding: 2px 4px 2px 4px;
}

#keyboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh; /* set a fixed height for the keyboard */
  align-items: center;
  margin-top: 0px;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -40px;
}

#keyboard h2 {
  /* width: 50px;
  height: 50px;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-align: center;
  vertical-align: middle; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  /* width: 50px;
  height: 50px;
  font-size: 30px; */
  width: 30px;
  height: 50px;
  font-size: 20px;
  margin: 3px;

  border: 1px solid gray;
  border-radius: 10px;
  color: black;
}

nav {
  background-color: #f2f2f2;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: Oswald, sans-serif;
  top: 0px;
  position: fixed;
  align-items: center;
}

#dropIcon {
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
  position: fixed;
  /* border: 2px solid red; */
}

.dropdown-right > .dropdown-content.show {
  /* border: 2px solid blue; */
  right: 0px;
  text-align: right;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

/* Style for the right-aligned dropdown */
.dropdown-right {
  margin-right: 5px;
  /*align-self:flex-end;*/
  margin-left: auto;
  color: black;
}

/* #gameTitle {
  font-family: Oswald, sans-serif;
  top: 0px;
  position: relative;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  z-index: 1;
  margin-top: -2px;
  margin-bottom: -30px;
} */

#gameTitle {
  font-family: Oswald, sans-serif;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  margin-bottom: -30px;
  margin-top: -20px;
}

.you-did-it {
  display: none;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
}

.you-did-it > h1 {
  margin-top: -20px;
  font-size: 20px;
}

.you-did-it > h1:last-child {
  margin-bottom: -5px;
}

.you-did-it.show {
  display: block;
  position: fixed;
  /* border: 2px solid red; */
}

#close-you-did-it {
  margin-left: 200px;
}

.how-to-play {
  display: none;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  max-width: 350px;
}

.how-to-play > h1 {
  margin-top: -30px;
  font-size: 24px;
}

.how-to-play > li {
  font-size: 20px;
}
.how-to-play > h1:last-child {
  margin-bottom: -5px;
}

.how-to-play.show {
  display: block;
  position: fixed;
  /* border: 2px solid red; */
}

#close-how-to-play {
  margin-left: 320px;
}
