html, body {
  width: 100%;
  margin: auto;
}

#stopwatch {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center; /* center horizontally */
  flex-direction: column;
}

.textFields {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#text-field1,
#text-field2,
#text-field3,
#text-field4,
#text-field5 {
 width: 400px;
 height: 30px;
 text-align: center;
}

#keyboard {
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  justify-content: space-between;
  height: 20vh; /* set a fixed height for the keyboard */
  align-items: center;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: space-evenly;
}

#keyboard button {
  width: 50px;
  height: 50px;
}