html,
body {
  width: 100%;
  margin: auto;
}

#stopwatch {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center; /* center horizontally */
  flex-direction: column;
  font-size: 30px;
  font-family: Oswald, sans-serif;
}

#start-stop {
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  border-radius: 10px;
  margin-top: -30px;
  margin-bottom: 10px;
}

.textFields {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#text-field1,
#text-field2,
#text-field3,
#text-field4,
#text-field5 {
  width: 346px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  font-family: Oswald, sans-serif;
}

#keyboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh; /* set a fixed height for the keyboard */
  align-items: center;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: space-evenly;
}

#keyboard button {
  /* width: 50px;
  height: 50px;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-align: center;
  vertical-align: middle; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 50px; 
  height: 50px;
  font-size: 30px; 
}

nav {
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: Oswald, sans-serif;
  top: 0px;
  position: fixed;
}

/* Style for the dropdown button */
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.show {
  display: block;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change the background color of the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the right-aligned dropdown */
.dropdown-right {
  margin-right: 5px;
  /*align-self:flex-end;*/
  margin-left: auto;
  color: black;
}

#gameTitle {
  font-family: Oswald, sans-serif;
  text-align: center;
  top: 0px;
  position: relative;
  z-index: 0;
  margin-top: -2px;
}
